.card {
  padding: 10px;
  background-color: transparent !important;
  border: 0 !important;
  max-height: 350px;
}
.card__content {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  overflow-y: scroll;

  & > h3 {
    text-align: center;
  }
}