.app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-content {
  background-color: #f1f4f8;
  padding: 20px;
  flex: 1;

  &__buttons {
    margin: 20px;

    & > .btn {
      margin-right: 10px;
    }
  }
}

.app-counter {
  font-size: 5rem;
  text-align: center;
  padding-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.pt-sm {
  padding-top: 20px;
}